@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,200;1,14..32,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.navhead{
    display: flex;
    border: 1px;
    background-color: rgb(250,119,63);
    justify-content: space-between;
}
.suit{
    margin-left: 80px;
}

body{
    height: 1500px;
    margin: 0;
}

.nav{
    margin-top: 25px;
    gap: 30px;
    display: flex;
    margin-right: 100px;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 19px;
}

.nav a.active {
    margin-bottom: 20px;
    border-bottom: 3px white solid;
}

.active1{
    background-color: rgb(247,102,65);
    height: 25px;
    border-radius: 5px;
    width: 20px;
    padding-left: 8px;
    
    
}


.banner {
    position: relative;
    width: 100%;
    height: 400px; 
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    margin: 0;
    padding: 0;
}

.banner-text h1,
.banner-text h3 {
    font-family: "Inter", sans-serif;
    margin: 0; 
    padding: 0; 
}
.banner-text h1 {
    font-size: 40px;
}
.banner-text h3 {
    font-size: 15px;
}


.sort{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 280px;
}

.sort-dropdown {
    position: relative;
}

.sort-dropdown select {
    background-color: transparent;
    border: 1px gray solid;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    padding: 0 5px;
    margin-right: 10px;
    outline: none;
}

.sort-dropdown i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.PBcard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
}

.card {
    width: 250px;
    border: 0px;
    height: 290px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px gray;
    margin-bottom: 10px;
}

.PBcard > .card:nth-child(4n+1) {
    margin-left: 0; 
  }

.card img {
    border-radius: 5px;
}
.tgl {
    color: rgb(186,186,186);
    font-size: 12px;
}

.capt{
    font-family: "Roboto", sans-serif;
    font-weight:bolder;
    font-size: 20px;
}

.tgl,
.capt{
    margin: 0; 
    padding: 0;
}

.teks{
    padding-left: 20px;
    padding-top: 20px;
}

.PBsw{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.nums{
    display: flex;
    gap: 15px;
}

.nums a {
  position: relative;
  color: black; 
  font-size: 18px; 
  text-decoration: none;
}

.nums a i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #ccc;
}

.nums a:first-child i {
  left: -20px;
  content: "\f053"; 
}

.nums a:last-child i {
  right: -20px;
  content: "\f054"; 
}



